.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}
.footer__text {
  line-height: 30px;
  color: rgb(194, 191, 191);
}
.footer__quick-links ul li {
  background-color: transparent !important;
}
.footer__quick-links ul li a {
  color: rgb(194, 191, 191);
}
.quick__link-title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.1rem;
}
.footer__contact li span,
.footer__contact li p {
  color: rgb(194, 191, 191);
}
.footer__contact li span {
  font-size: 1.2rem;
}
.footer__contact li p {
  font-size: 0.9rem;
}
.footer__copyright {
  color: rgb(194, 191, 191);
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}
